/* 전체 페이지 스타일 */
.card-add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 헤더 스타일 */
.card-add-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px; /* 좌우 패딩 추가 */
}

.card-add-header .back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  padding: 10px;
}

.card-add-header .back-icon {
  width: 24px; /* 아이콘 크기 조정 */
  height: 24px;
}

.card-add-header .card-title {
  margin-left: 5px; /* 타이틀을 뒤로가기 버튼 옆으로 이동 */
  flex-grow: 1; /* 타이틀이 남은 공간을 차지하도록 설정 */
  font-size: 24px; /* 텍스트 크기 변경 */
  font-weight: normal; /* 텍스트 굵기 변경 */
  color: black; /* 텍스트 색상 변경 */
}

.card-add-header .title {
  margin-left: 5px; /* 타이틀을 뒤로가기 버튼 옆으로 이동 */
  flex-grow: 1; /* 타이틀이 남은 공간을 차지하도록 설정 */
}

/* 카드 미리보기 섹션 스타일 */
.preview-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px; /* 미리보기와 폼 사이 간격 */
}

.live-preview-card {
  width: 300px;
  height: 170px;
  border-radius: 15px;
  background-color: #333333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative; /* 자식 요소 배치를 위한 relative 설정 */
}

.live-preview-card-chip {
  width: 55px;
  height: 35px;
  background-color: #cbba64;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  left: 20px;
}

/* 카드 입력 폼 섹션 스타일 */
.form-section {
  width: 100%;
  max-width: 400px; /* 폼의 최대 너비 설정 */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.card-number {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.card-holder-expiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-holder {
  font-weight: 600;
  font-size: 17px;
}

.expiry-date {
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 600;
}

.back-button, .close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.card-form .form-group {
  margin-bottom: 20px;
}

.card-form .input-label {
  display: block;
  margin-bottom: 5px;
}

.card-form .register-card-button {
  background-color: #ffef64;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
}

.card-form .register-card-button:hover {
  background-color: #fcf6c6;
}