/* 전체 애플리케이션을 가운데 정렬하는 스타일 */
.App {
  text-align: center;
}

/* 헤더 스타일 */
header {
  background-color: #000000; /* 헤더 배경색 */
  min-height: 15vh; /* 헤더의 최소 높이 */
  display: flex; /* Flexbox를 사용하여 요소 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  color: white; /* 텍스트 색상 */
  position: fixed; /* 스크롤해도 화면 상단에 고정 */
  top: 0; /* 화면의 최상단에 위치 */
  width: 100%; /* 전체 너비를 차지 */
}

/* 장바구니 아이콘 컨테이너 스타일 */
.header .cart-icon-container {
  position: relative; /* 자식 요소의 위치를 상대적으로 배치 */
  display: flex; /* Flexbox를 사용하여 요소 정렬 */
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-left: auto; /* 오른쪽 끝으로 배치 */
}

/* 장바구니 아이콘 스타일 */
.header .cart-icon {
  width: 50px; /* 아이콘 너비 */
  height: 50px; /* 아이콘 높이 */
  object-fit: contain; /* 이미지 크기를 유지하며 맞춤 */
  margin-right: 50px;
}

/* 장바구니 개수 표시 스타일 */
.header .cart-count {
  position: absolute; /* 절대 위치 */
  margin-right: 50px;
  top: 28px; /* 위쪽 위치 조정 */
  right: -5px; /* 오른쪽 위치 조정 */
  width: 30px; /* 동그라미 너비 */
  height: 30px; /* 동그라미 높이 */
  background-color: rgb(255, 255, 255); /* 배경색 */
  color: rgb(0, 0, 0); /* 텍스트 색상 */
  border-radius: 50%; /* 원형 테두리 */
  padding: 0; /* 내부 여백 제거 */
  font-size: 15px; /* 폰트 크기 */
  font-weight: 900; /* 폰트 굵기 */
  line-height: 30px; /* 텍스트 수직 가운데 정렬 */
  text-align: center; /* 텍스트 수평 가운데 정렬 */
}

/* 콘텐츠 스타일 == 페이지 스타일 */
.content {
  padding: 30px; /* 내부 여백 */
}

/* 상품 목록 컨테이너 스타일 */
.product-list {
  display: flex; /* Flexbox를 사용하여 요소 정렬 */
  justify-content: center; /* 가운데 정렬 */
  padding: 20px; /* 내부 여백 */
  gap: 10px; /* 카드 간격 */
}

/* 상품 카드 스타일 */
.product-item {
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 20px; /* 모서리 둥글게 */
  overflow: hidden; /* 사진이 넘치지 않도록 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
  display: flex; /* Flexbox를 사용하여 요소 정렬 */
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 공간을 고르게 배치 */
}

/* 상품 이미지 스타일 */
.product-image {
  width: 100%; /* 너비 100% */
  height: auto; /* 높이 자동 */
  max-height: 200px; /* 최대 높이 */
  object-fit: cover; /* 이미지 크기 맞춤 */
}

/* 담기 및 구매 버튼 컨테이너 스타일 */
.buttons-container {
  display: flex; /* Flexbox로 버튼을 한 줄로 정렬 */
  margin-left: -10px; /* 왼쪽 여백 */
  justify-content: left; /* 가운데 정렬 */
  gap: 0px; /* 버튼 사이 간격 */
  padding: 10px; /* 내부 여백 */
}

/* 담기 버튼 스타일 */
button {
  background-color: #000000; /* 버튼 배경색 */
  color: white; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  padding: 8px 10px; /* 내부 여백 */
  margin-top: 10px; /* 위쪽 여백 */
  margin-left: 15px; /* 왼쪽 여백 */
  margin-bottom: 20px; /* 아래 여백 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  border-radius: 50px; /* 모서리 둥글게 */
  font-size: 14px; /* 글자 크기 */
  font-weight: 900; /* 글자 굵기 조절 */
  width: 60px; /* 너비 크기 설정 */
}

/* 담기 버튼 호버 스타일 */
button:hover {
  background-color: #4f4f4f; /* 호버 시 배경색 변경 */
}

/* '담김!' 상태의 버튼 스타일 */
button.added {
  background-color: #ccc; /* 회색 배경색 */
  color: black; /* 검은색 글자색 */
  cursor: default; /* 기본 커서 */
}

/* 비활성화된 담기 버튼 스타일 */
button:disabled {
  background-color: #ccc; /* 회색 배경색 */
}

/* 구매 버튼 스타일 */
.buy-now-button {
  background-color: #ffef64; /* 버튼 배경색 */
  color: black; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  padding: 8px 10px; /* 내부 여백 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  border-radius: 50px; /* 모서리 둥글게 */
  font-size: 14px; /* 글자 크기 */
  font-weight: 900; /* 글자 굵기 조절 */
  width: 60px; /* 너비 크기 설정 */
}

/* 구매 버튼 호버 스타일 */
.buy-now-button:hover {
  background-color: gold;
}
/* 상품 이름 텍스트 스타일 */
.product-name {
  font-size: 23px; /* 텍스트 크기 */
  font-weight: none; /* 텍스트 굵기 */
  margin-top: 20px; /* 위쪽 여백 */
  margin-left: 15px; /* 왼쪽 여백 */
}

/* 상품 설명 텍스트 스타일 */
.product-description {
  font-size: 20px; /* 텍스트 크기 */
  margin-top: 5px; /* 위쪽 여백 */
  margin-left: 15px; /* 왼쪽 여백 */
  color: gray; /* 텍스트 색상 */
}

/* 상품 가격 텍스트 스타일 */
.product-price {
  font-size: 20px; /* 텍스트 크기 */
  color: #000; /* 텍스트 색상 */
  margin-top: 5px; /* 위쪽 여백 */
  margin-left: 15px; /* 왼쪽 여백 */
}

/* 신발 상품 목록 텍스트 스타일 */
.product-title {
  font-size: 50px; /* 텍스트 크기 조정 */
  margin-top: 150px; /* 위쪽 여백 추가 */
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
  margin-left: 45px; /* 왼쪽 여백 추가 */
}

/* 현재 상품 개수 텍스트 스타일 */
.product-count {
  font-size: 25px; /* 텍스트 크기 조정 */
  margin-bottom: 40px; /* 아래쪽 여백 추가 */
  margin-left: 45px; /* 왼쪽 여백 추가 */
}

/* 카드 관리 페이지 스타일 */
.card-management {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
}

/* 카드 관리 페이지 헤더 */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  background: none;
}

/* 새로운 카드 등록 */
.no-cards {
  text-align: center;
  padding: 20px;
  color: #5f5f5f;
  font-size: 20px;
  font-weight: bold;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 카드 추가 버튼 */
.add-card-button {
  background-color: #e3e3e3;
  font-size: 30px;
  cursor: pointer;
  color: #5f5f5f;
  padding: 80px 160px; /* 내부 여백 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.add-card-button:hover {
  background-color: #ccc;
}

/* 카드 추가 페이지 스타일 */
.card-add-page {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
}

/* 카드 추가 페이지 헤더 */
.card-add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background: none;
  align-items: center;
  justify-content: space-between;
}

.back-button:hover {
  background: none;
}

.card-add-page .back-icon {
  width: 40px; /* 아이콘 너비 */
  height: 50px; /* 아이콘 높이 */
  object-fit: contain; /* 이미지 크기를 유지하며 맞춤 */
  margin-top: 10px;
}

.card-add-page .form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4f4f4f;
}